@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root {
  --font-family: 'Inter', sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  background-color: #f5f5f5;
  color: #333;
}

a {
  color: #0070f3;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
